<tr>
  <td><%= sedentary_carriage.number %></td>
  <td><%= link_to 'Show', sedentary_carriage %></td>
  <td><%= link_to 'Edit', edit_sedentary_carriage_path(sedentary_carriage) %></td>
  <td><%= link_to 'Destroy', sedentary_carriage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>