<p>Привет, <%= @user.email %></p>
<p>Вы купили билет по маршруту <%= @ticket.name_route %></p>
<p>Билет можно посмотреть <%= link_to 'здесь', @ticket %></p>
<p>Все преобретенные билеты - <%= link_to 'здесь', tickets_url %></p>