<p>Привет, <%= @user.email %></p>
<p>Вы удалили билет <%= @ticket.number %></p>
<p>Билет можно посмотреть <%= link_to 'здесь', @ticket %></p>
<p>Все преобретенные билеты - <%= link_to 'здесь', tickets_url %></p>