<h1>Страница Поиска Билетов</h1>

<%= form_tag new_search_path, method: :get do %>
	<%= collection_select :search, :first_station_id, RailwayStation.all, :id, :title %>
	<%= collection_select :search, :last_station_id, RailwayStation.all, :id, :title %>
	<%= submit_tag 'Поиск' %>
<% end %>